html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
}

/* ---------- HEADER DE PAGE ---------- */
/* Section d'en-tête qui contient le titre principal */
header {
    width: 100%;
    height: 100px;
    background-color: #629b7c;
}

/* Titre principal dans l'en-tête */
header h1 {
    text-align: center;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    color: #ececec;
    font-size: 40px;
}

/* ---------- CONTENU DU PAGE (mise en forme) ---------- */
/* Contenu du page */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1;
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center center;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #333;
    text-align: center;
    margin-bottom: 3%;
    margin-top: 2%;
}

label.required::before {
    content: "*";
    color: red;
    margin-right: 2px;
    font-weight: bold;
}

hr {
    margin-top: 6.3%;
}

#menu__toggle {
    opacity: 0;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #333;
    text-align: center;
    margin-bottom: 3%;
    margin-top: 2%;
}

#menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    left: 0 !important;
}

.menu__btn {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    position: fixed;
    color: #ececec;
    text-shadow: 1px 1px #5e5e5e;
    top: 35px;
    left: 30px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    z-index: 2;

}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ececec;
    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;

}

.menu__box {
    z-index: 1;
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: calc(100% - 80px);
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: left;
    background-color: #467a5c;
    box-shadow: -1px 2px 5px #9a9a9a;
    transition-duration: .25s;
}

.menu__item {
    margin-top: 5%;
    display: block;
    padding: 12px 24px;
    color: #ececec;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 1px 1px #5e5e5e;
    transition-duration: .25s;
}

.menu__icon {
    width: 20px;
    margin-right: 5px;
    display: inline-block;
    text-align: center;
}

.menu__item:hover {
    background-color: #356149;
}

li:first-child {
    margin-top: 10%;
}

.menu__footer {
    position: absolute;
    bottom: 10%;
    right: 0;
    padding: 12px 24px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 1px 1px #3e595a;
    transition-duration: .25s;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: #ececec;
    bottom: 0%;
    width: 100%;
    position: relative;
}

/* Conteneur des liens */
footer ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 2%;
}

/* Style des éléments de la liste */
footer li {
    font-family: 'Roboto', sans-serif;
    margin-right: 20px;
}

/* Style du premier élément de la liste */
footer ul li:first-child {
    margin-top: 0px;
    /* Réglage 1er li */
}

/* Style des liens */
footer a {
    color: #ececec;
    text-decoration: none;
}

/* Style du texte en bas de page */
footer p {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin-top: 2%;
}

.podium {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50vw;
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.first-place,
.second-place,
.third-place {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 30%;
    align-self: flex-end;
}

.first-place {
    background-color: #ffd700;
    height: 70%;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 50px;
}

.second-place {
    background-color: #c0c0c0;
    height: 55%;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 50px;
}

.third-place {
    background-color: #cd7f32;
    height: 40%;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 50px;
}

/* Groupe vainqueur sur podium */
#top1 {
    position: absolute;
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-size: 55%;
    margin-top: -170%;
}

#top2 {
    position: absolute;
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-size: 55%;
    margin-top: -140%;
}

#top3 {
    position: absolute;
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-size: 55%;
    margin-top: -110%;
}


/* Responsive pour écran de téléphone */
@media (max-width: 600px) {
    .podium {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100vw;
        width: 80%;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    #top1 {
        position: absolute;
        font-weight: bold;
        text-align: center;
        width: 100%;
        font-size: 30%;
        margin-top: -170%;
    }

    #top2 {
        position: absolute;
        font-weight: bold;
        text-align: center;
        width: 100%;
        font-size: 30%;
        margin-top: -140%;
    }

    #top3 {
        position: absolute;
        font-weight: bold;
        text-align: center;
        width: 100%;
        font-size: 30%;
        margin-top: -110%;
    }
}